<h2> All Artists </h2>

<p><%  @artists.each do |artist| %></p>
  <li>
    <%= link_to artist.name %>
    <%= link_to artist.image_path %>
  <% end %>
  </li>
  <p>
<%= link_to "New artist", new_artist_path %>
<% end %>
  </p>
